<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "htth://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="_template.xhtml">

	<f:metadata>
		<f:viewParam name="pessoaFisicaId"
			value="#{pessoaFisicaBean.pessoaFisicaId}" />
		<f:viewAction action="#{pessoaFisicaBean.carregarPessoaPelaId}" if="#{param.pessoaFisicaId != null}" />
	</f:metadata>

	<ui:define name="titulo">
				Novo Cadastro Pessoa
		</ui:define>

	<ui:define name="conteudo">
		<h:form>

			<h:messages id="messages" />

			<fieldset>
				<legend>Dados da Pessoa</legend>
				<h:panelGrid columns="2">

					<h:outputLabel value="Nome:" for="nome" />
					<h:inputText id="nome"
						value="#{pessoaFisicaBean.pessoaFisica.nome_pessoa}"
						required="true" requiredMessage="Nome obrigatório"
						validatorMessage="Nome não pode ser superior a 40">
						<f:validateLength maximum="40" />
						<f:ajax event="blur" render="messages" />
					</h:inputText>

					<h:outputLabel value="CPF:" for="cpf" />
					<h:inputText id="cpf"
						value="#{pessoaFisicaBean.pessoaFisica.cpf_pessoa}"
						validator="#{pessoaFisicaBean.validaCPF}" />
					<!--
						<h:outputLabel value="Data de Nascimento:" for="dataNascimento" />
						<h:inputText id="dataNascimento"
							value="#{pessoaFisicaBean.pessoaFisica.dta_nsc_pessoa}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Sao_Paulo" />
						</h:inputText>
						-->
				</h:panelGrid>

			</fieldset>
			<fieldset>				
					<h:form id="formTabelaEnderecos">
						<h:dataTable value="#{enderecoBean.enderecos}" var="endereco"
							id="tabelaEnderecos">
							<h:column>
								<f:facet name="header">Endereço:</f:facet>
								<h:outputText value="#{endereco.logradouro} #{endereco.endereco} #{endereco.num_end}" />
							</h:column>
							<h:column>
								<f:facet name="header">Alterar</f:facet>
								<h:commandLink value="altera"
									action="#{enderecoBean.carregar(endereco)}" />
							</h:column>
							<h:column>
								<f:facet name="header">Remover</f:facet>
								<h:commandLink value="remove"
									action="#{enderecoBean.remover(endereco)}" />
							</h:column>
						</h:dataTable>
					</h:form> 									
			</fieldset>
			<h:commandButton value="Gravar" action="#{pessoaFisicaBean.gravar}">
				<!-- <f:ajax execute="@form" render="@form :formTabelaLivros:tabelaLivros" />-->
			</h:commandButton>
		</h:form>
	</ui:define>
</ui:composition>

</html>